<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
      <system.windows.forms jitDebugging="false"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <WindowsFormsApplication1.Settings1>
            <setting name="language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseAdmin" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Settings1>
    </applicationSettings>
    <!-- ch:统一 Newtonsoft.Json 程序集绑定（csproj 引用 6.0 / HslCommunication 依赖 12.0 / bin 实际为 13.0），
         避免启用 Hsl 通讯（欧姆龙/ModbusTCP）时运行时程序集绑定失败 -->
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
